* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.container {
  background-color: rgb(14, 14, 14);
  min-height: 100vh;
}

header {
  height: 120px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header img {
  height: 60%;
  padding-left: 35px;
}

nav {
  color: #fff;
  font-size: 1.3em;
  display: flex;
}

nav p {
  padding: 0 10px;
}

.search {
  width: 30%;
}

.search input {
  width: 80%;
  border: none;
  padding: 10px 20px;
}

.search button {
  border: none;
  padding: 10px 20px;
  color: #fff;
  border: 1px solid white;
  background-color: transparent;
}

.films {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.film {
  width: calc(100% / 5 - 30px);
  min-height: 450px;
  margin: 15px;
}

.info {
  height: 100%;
  bottom: 20px;
  text-align: center;
  padding: 0 10px;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  position: relative;
}

.info2 {
  width: calc(100% - 20px);
  height: 400px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.639);
  top: 0;
  left: 10px;
  display: none;
  font-size: 60%;
  line-height: 1.6;
  padding: 10px;
}

.info:hover .info2 {
  display: block;
  color: #fff;
}

.info img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.info h2 {
  padding-bottom: 10px;
}

.stars {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.info2 img {
  width: 100px;
  height: 100px;
}
