<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BoolFlix</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="app" class="container">
            <header>
                <img src="css/logo.png" alt="">
                <nav>
                    <p>Film</p>
                    <p>Serie Tv</p>
                    <p>Nuove Uscite</p>
                    <p>Account</p>
                </nav>
                <div class="search">
                    <input v-model="query" @keyUp.enter="searchFilms" type="text" placeholder="Cerca film">
                    <button @click="searchFilms">Cerca</button>
                </div>
            </header>

            <div class="films">
                <div v-for="(film,index) in films" class="film" >

                    <div class="info">

                        <img v-if="film.poster_path == null" src="css/img/notfound.png" alt="">
                        <img v-else :src=" 'https://image.tmdb.org/t/p/w342' + film.poster_path " alt="">
                        <h2  > {{film.title}} || {{film.original_name}} </h2>

                        <div   class="stars">
                            <i v-for="i in star(film.vote_average)" class="fas fa-star" style="color: #DC1B27;"></i>
                            <i v-for="i in 5 - star(film.vote_average)" class="fas fa-star" ></i>
                        </div>
                        <p>su {{film.vote_count}} voti </p>

                        <div class="info2">
                            <p>
                                {{film.overview}}
                            </p>

                            <p>
                                <img :src="'css/img/' + film.original_language + '.png'" :alt="film.original_language">
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        

        <script src="js/main.js" charset="utf-8"></script>
    </body>
</html>